<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TaskManager | Overview</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
<div th:include="navigation.html"></div>
    <div class="container">
        <h4>Tasks</h4>

        <div th:if="${tasks != null || !tasks.empty}">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">DueDate</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="*{task.title}"></td>
                    <td th:text="*{task.dueDate}"></td>
                    <td th:text="*{task.description}"></td>
                    <td>
                        <a th:href="@{/task/__${task.getId()}__}" class="btn btn-primary">View Details</a>
                        <a th:href="@{/task/edit/__${task.getId()}__}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${tasks == null || tasks.empty}">
            <p> No tasks left to do</p>
        </div>
    </div>
</body>
</html>